<h1>{{ data['data']['name'] }}</h1>
<h1><span style="font-weight:normal">{{ 'Авторы/Автор: ' + ','.join(data['data']['authors']) }}</span></h1>

<html>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
</head>
<body>
<form action="/object" method="GET">
    <h2>{{ 'Описание' }}</h2>
    <p>{{ desc }}</p>
    <h2>{{ 'Владелец' }}</h2>
    <p>{{ museum }}</p>
    <h2>{{ 'Период создания' }}</h2>
    <p>{{ period }}</p>
    <h2>{{ 'Материал, техника' }}</h2>
    <p>{{ tech }}</p>
</form>
<div class="imgbox">
    <img class="center-fit" src='{{ image }}'>
</div>
</body>